html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.66;
}

.header {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 10;
}


/* .header-sticky .header-content .sign-in {
    opacity: 0;
} */

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 4rem;
    z-index: 1;
}

.st0 {
    fill: url(#gradientone);
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: url(#gradienttwo);
}